<a href="https://colab.research.google.com/github/nishitgala89/ProjectDissertation/blob/main/Code/2_DataPreparation_RemovingDuplicates/Morningstar_new_Dataframe_RemoveDuplicates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [ ]:
#morningstar_df = pd.read_csv("/content/sample_data/Asia_Developed.csv")

In [34]:
morningstar_data_url = "https://raw.githubusercontent.com/nishitgala89/ProjectDissertation/main/Datasheets/1_Preparation/1_All_Equities_MorningStar.csv"
morningstar_df = pd.read_csv(morningstar_data_url).set_index("SecId")
morningstar_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2761 entries, F0GBR04AX4 to F000010KD8
Data columns (total 49 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Name                              2761 non-null   object
 1   PriceCurrency                     2761 non-null   object
 2   TenforeId                         2753 non-null   object
 3   LegalName                         2761 non-null   object
 4   ClosePrice                        2761 non-null   float64
 5   StarRatingM255                    2761 non-null   int64
 6   SustainabilityRank                2761 non-null   int64
 7   QuantitativeRating                1047 non-null   float64
 8   CategoryName                      2761 non-null   object
 9   Yield_M12                         2756 non-null   float64
 10  GBRReturnD1                       2761 non-null   float64
 11  GBRReturnW1                       2761 non-null   float64
 12  GBRReturnM1                       2761 non-null   float64
 13  GBRReturnM3                       2758 non-null   float64
 14  GBRReturnM6                       2758 non-null   float64
 15  GBRReturnM0                       2758 non-null   float64
 16  GBRReturnM12                      2758 non-null   float64
 17  GBRReturnM36                      2752 non-null   float64
 18  GBRReturnM60                      2375 non-null   float64
 19  GBRReturnM120                     1580 non-null   float64
 20  MaxFrontEndLoad                   2667 non-null   float64
 21  OngoingCostActual                 2743 non-null   float64
 22  PerformanceFeeActual              2371 non-null   float64
 23  TransactionFeeActual              2747 non-null   float64
 24  MaximumExitCostAcquired           507 non-null    float64
 25  FeeLevel                          539 non-null    object
 26  ManagerTenure                     2734 non-null   float64
 27  MaxDeferredLoad                   47 non-null     float64
 28  FundTNAV                          2740 non-null   float64
 29  EquityStyleBox                    2761 non-null   int64
 30  AverageMarketCapital              2759 non-null   float64
 31  MorningstarRiskM255               2761 non-null   int64
 32  AlphaM36                          2758 non-null   float64
 33  BetaM36                           2758 non-null   float64
 34  R2M36                             2758 non-null   float64
 35  StandardDeviationM36              2757 non-null   float64
 36  SharpeM36                         2757 non-null   float64
 37  InvestorTypeRetail                2761 non-null   int64
 38  InvestorTypeProfessional          2761 non-null   int64
 39  InvestorTypeEligibleCounterparty  2761 non-null   int64
 40  ExpertiseBasic                    2761 non-null   int64
 41  ExpertiseAdvanced                 2761 non-null   int64
 42  ExpertiseInformed                 2761 non-null   int64
 43  ReturnProfilePreservation         2761 non-null   int64
 44  ReturnProfileGrowth               2761 non-null   int64
 45  ReturnProfileIncome               2761 non-null   int64
 46  ReturnProfileHedging              2757 non-null   float64
 47  ReturnProfileOther                2745 non-null   float64
 48  TrackRecordExtension              2761 non-null   bool
dtypes: bool(1), float64(29), int64(13), object(6)
memory usage: 1.0+ MB

## Scrapped Dataframe

### 2) Uploading the UK Scrapped Data

In [ ]:
uk_scrapped_url = "https://raw.githubusercontent.com/nishitgala89/ProjectDissertation/main/Datasheets/1_Preparation/2_UK_scrapped_df.csv"
uk_scrapped_df = pd.read_csv(uk_scrapped_url).set_index("SecId")

### 3) Uploading the Europe Developed Scrapped Data

In [ ]:
eu_scrapped_url = "https://raw.githubusercontent.com/nishitgala89/ProjectDissertation/main/Datasheets/1_Preparation/2_Europe_scrapped_df.csv"
eu_scrapped_df = pd.read_csv(eu_scrapped_url).set_index("SecId")

### 4) Combining the Scrapped data into a Single Data Frame

In [ ]:
combined_scrapped_df = pd.concat([uk_scrapped_df,eu_scrapped_df],axis=0)
combined_scrapped_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2760 entries, F0GBR04AX4 to F00000LL2Y
Data columns (total 44 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   P_E                               2759 non-null   float64
 1   P_B                               2760 non-null   float64
 2   P_Sales                           2760 non-null   float64
 3   P_CashFlow                        2760 non-null   float64
 4   Dividend_Yield_Percent            2760 non-null   float64
 5   Long_term_earning_Percent         2760 non-null   float64
 6   Historical_earning_Percent        2760 non-null   float64
 7   Sales_growth_percent              2760 non-null   float64
 8   Cashflow_growth_percent           2760 non-null   float64
 9   Book_value_growth_percent         2760 non-null   float64
 10  Equity_Holding                    2760 non-null   object
 11  Other_Holding                     2760 non-null   int64
 12  Assets_in_top10_holdings_percent  2269 non-null   float64
 13  Reported_turnover_percent         2195 non-null   object
 14  Active_Share_percent              574 non-null    float64
 15  Top3_sector_percent               2757 non-null   float64
 16  Top5_sector_percent               2757 non-null   float64
 17  Equity_Holding_Amount             2669 non-null   object
 18  giant_percent                     2745 non-null   float64
 19  large_percent                     2745 non-null   float64
 20  mid_percent                       2747 non-null   float64
 21  small_percent                     2747 non-null   float64
 22  micro_percent                     2747 non-null   float64
 23  Style                             2748 non-null   float64
 24  Style_5_Min                       2748 non-null   float64
 25  Style_5_Max                       2748 non-null   float64
 26  Yield                             2748 non-null   float64
 27  Yield_5_Min                       2748 non-null   float64
 28  Yield_5_Max                       2748 non-null   float64
 29  Momentum                          2748 non-null   float64
 30  Momentum_5_Min                    2748 non-null   float64
 31  Momentum_5_Max                    2748 non-null   float64
 32  Quality                           2748 non-null   float64
 33  Quality_5_Min                     2748 non-null   float64
 34  Quality_5_Max                     2748 non-null   float64
 35  Volatility                        2748 non-null   float64
 36  Volatility_5_Min                  2748 non-null   float64
 37  Volatility_5_Max                  2748 non-null   float64
 38  Liquidity                         2748 non-null   float64
 39  Liquidity_5_Min                   2748 non-null   float64
 40  Liquidity_5_Max                   2748 non-null   float64
 41  Size                              2748 non-null   float64
 42  Size_5_Min                        2748 non-null   float64
 43  Size_5_Max                        2748 non-null   float64
dtypes: float64(40), int64(1), object(3)
memory usage: 970.3+ KB

Note - There are 2761 records in Morningstar DF and 2760 records in scrapped DF, so need to remove the missing index and bring the both dataframes with same SecId's

In [ ]:
all_morningstar_index = morningstar_df.index.to_list()
len(all_morningstar_index)

2761

In [ ]:
all_scrapped_index = combined_scrapped_df.index.to_list()
len(all_scrapped_index)

2760

In [ ]:
for index in all_scrapped_index:
  try:
    all_morningstar_index.remove(index)
  except:
    print("Error for --> ", index)
all_morningstar_index

['F00000X3G0']

In [ ]:
morningstar_df.drop(index=["F00000X3G0"], inplace=True)

In [ ]:
morningstar_df.reset_index(inplace=True)

In [ ]:
df = morningstar_df.groupby(['CategoryName','ManagerTenure','AverageMarketCapital','StarRatingM255'])['SecId'].count().to_frame()

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1184 entries, 0 to 1183
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CategoryName          1184 non-null   object
 1   ManagerTenure         1184 non-null   float64
 2   AverageMarketCapital  1184 non-null   float64
 3   StarRatingM255        1184 non-null   int64
 4   SecId                 1184 non-null   int64
dtypes: float64(2), int64(2), object(1)
memory usage: 46.4+ KB

In [ ]:
morningstar_df.set_index('SecId', inplace=True)

In [ ]:
(morningstar_df[(morningstar_df.ManagerTenure == 1.5) &  (morningstar_df.StarRatingM255 == 5) 
                  & (morningstar_df.CategoryName == 'Europe Equity Income')
                  & (morningstar_df.AverageMarketCapital == 24636.42657)].index)[0]

'F0000118JH'

In [ ]:
new_index = []
for index,row in df.iterrows():  
  new_index.append((morningstar_df[(morningstar_df.ManagerTenure == row['ManagerTenure']) 
                  &  (morningstar_df.StarRatingM255 == row['StarRatingM255']) 
                  & (morningstar_df.CategoryName == row['CategoryName'] )
                  & (morningstar_df.AverageMarketCapital == row['AverageMarketCapital'])].index)[0])

len(new_index)

1184

In [ ]:
len(set(new_index))

1184

In [ ]:
new_df = pd.DataFrame(data=morningstar_df,index=new_index)

In [ ]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1184 entries, F0GBR04N5Q to F0GBR04OC1
Data columns (total 49 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Name                              1184 non-null   object
 1   PriceCurrency                     1184 non-null   object
 2   TenforeId                         1182 non-null   object
 3   LegalName                         1184 non-null   object
 4   ClosePrice                        1184 non-null   float64
 5   StarRatingM255                    1184 non-null   int64
 6   SustainabilityRank                1184 non-null   int64
 7   QuantitativeRating                487 non-null    float64
 8   CategoryName                      1184 non-null   object
 9   Yield_M12                         1180 non-null   float64
 10  GBRReturnD1                       1184 non-null   float64
 11  GBRReturnW1                       1184 non-null   float64
 12  GBRReturnM1                       1184 non-null   float64
 13  GBRReturnM3                       1182 non-null   float64
 14  GBRReturnM6                       1182 non-null   float64
 15  GBRReturnM0                       1182 non-null   float64
 16  GBRReturnM12                      1182 non-null   float64
 17  GBRReturnM36                      1182 non-null   float64
 18  GBRReturnM60                      1026 non-null   float64
 19  GBRReturnM120                     738 non-null    float64
 20  MaxFrontEndLoad                   1159 non-null   float64
 21  OngoingCostActual                 1173 non-null   float64
 22  PerformanceFeeActual              1038 non-null   float64
 23  TransactionFeeActual              1176 non-null   float64
 24  MaximumExitCostAcquired           271 non-null    float64
 25  FeeLevel                          283 non-null    object
 26  ManagerTenure                     1184 non-null   float64
 27  MaxDeferredLoad                   22 non-null     float64
 28  FundTNAV                          1176 non-null   float64
 29  EquityStyleBox                    1184 non-null   int64
 30  AverageMarketCapital              1184 non-null   float64
 31  MorningstarRiskM255               1184 non-null   int64
 32  AlphaM36                          1182 non-null   float64
 33  BetaM36                           1182 non-null   float64
 34  R2M36                             1182 non-null   float64
 35  StandardDeviationM36              1184 non-null   float64
 36  SharpeM36                         1184 non-null   float64
 37  InvestorTypeRetail                1184 non-null   int64
 38  InvestorTypeProfessional          1184 non-null   int64
 39  InvestorTypeEligibleCounterparty  1184 non-null   int64
 40  ExpertiseBasic                    1184 non-null   int64
 41  ExpertiseAdvanced                 1184 non-null   int64
 42  ExpertiseInformed                 1184 non-null   int64
 43  ReturnProfilePreservation         1184 non-null   int64
 44  ReturnProfileGrowth               1184 non-null   int64
 45  ReturnProfileIncome               1184 non-null   int64
 46  ReturnProfileHedging              1182 non-null   float64
 47  ReturnProfileOther                1180 non-null   float64
 48  TrackRecordExtension              1184 non-null   bool
dtypes: bool(1), float64(29), int64(13), object(6)
memory usage: 454.4+ KB

In [ ]:
new_scrapped_df = pd.DataFrame(data=combined_scrapped_df,index=new_index)

In [ ]:
new_scrapped_df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Index: 1184 entries, F0GBR04N5Q to F0GBR04OC1
Columns: 44 entries, P_E to Size_5_Max
dtypes: float64(40), int64(1), object(3)
memory usage: 416.2+ KB

In [ ]:
new_df.groupby(['CategoryName','ManagerTenure','AverageMarketCapital','StarRatingM255'])['Name'].count().to_frame()

                                                                        Name
CategoryName         ManagerTenure AverageMarketCapital StarRatingM255
Denmark Equity       10.92         15684.04591          2                  1
Europe Equity Income 0.75          54955.21402          5                  1
                     1.50          24636.42657          4                  1
                                                        5                  1
                     2.00          50389.39812          2                  1
...                                                                      ...
UK Small-Cap Equity  20.75         1117.73022           3                  1
                     24.42         1174.39149           3                  1
                                                        4                  1
                     30.25         535.79158            1                  1
                     30.67         723.10137            1                  1

[1184 rows x 1 columns]

In [ ]:
new_df.to_csv('3_Morningstar_new_df.csv')
new_scrapped_df.to_csv('3_Scrapped_new_df.csv')